body {
    background-color: #000;
}

/** editor styles **/
.editor {
    cursor: pointer;
}

/** SIDE-BAR BUTTONS **/
.side-nav #save {
    color: #3a945b;
}

.side-nav #reset {
    color: #cf2a0e;
}

.side-nav-icon {
    color: #fff;
    text-align: center;
    width: 100%;
}

/** SIDE-BAR STYLE **/
.side-nav li {
    width: 100%;
}

/** CUSTOM STYLES FOR NICE SIDE-BAR **/
.inner-wrap {
    width: auto;
}

.move-right .inner-wrap {
    -ms-transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    margin-left: 60px;
}

.left-off-canvas-menu {
    -ms-transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    position: fixed;
    width: 0;
    height: 100%;
}

.move-right .left-off-canvas-menu {
    width: 60px;
}

.move-right .exit-off-canvas {
    display: none;
}

.left-off-canvas-toggle {
    display: none;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 3rem;
    color: #333;
    transition: all .25s ease-in-out;
}

.left-off-canvas-toggle:focus {
    color: #333;
}

.left-off-canvas-toggle:hover {
    color: #8c8c8c;
    transition: all .25s ease-in-out;
}
